*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(17, 40, 184, 0.584),
        rgba(40, 175, 212, 0.35)
    ),
    url("background.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border-radius:25px;
    padding:25px;
    color:white;
}

.weather-card{

    backdrop-filter:blur(15px);

    background:rgba(255,255,255,0.1);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:25px;

    padding:25px;

    color:white;

    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

.search{
    display:flex;
    gap:10px;
}

.search input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:15px;
}

.search button{
    border:none;
    padding:12px;
    border-radius:15px;
    cursor:pointer;
}

.image{
    width: 120px;
    display:block;
    margin:10px auto 0;
    align-items: baseline;
}
.weather-info{
    text-align:center;
    margin: top 0px;
}

.weather-info h1{
    font-size:70px;
}

.weather-info h2{
    margin-top:10px;
}

.details{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
}

.detail-card{
    width:48%;
    padding:15px;
    border-radius:15px;
    background:rgba(255,255,255,0.15);
}

h3{
    margin-top: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style:initial;
}
.forecast{ 
    margin-bottom: 25px;
    margin-top: 20px;
    display:flex;
    overflow-x:auto;
    gap:10px;
}

.hour{
    min-width:80px;
    padding:10px;
    border-radius:15px;
    background:rgba(255,255,255,0.15);
    text-align:center;
}